---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
// - UI
import Spacer from '../components/ui/Spacer.astro'
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
import notfoundsvg from '../assets/404.svg'
import { Image } from 'astro:assets'

// Content
// - SEO
const SEO = {
	title: '404 页面未找到 | 予果予实（EDUGROW）',
	description:
		'抱歉，您访问的页面不存在。请返回予果予实（EDUGROW）首页，继续浏览我们的留学规划与成长陪伴服务。',
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section>
		<Row flex classes="text-center mt-8">
			<Col span="2" />
			<Col span="8">
				<Image src={notfoundsvg} alt="404" class="p-16 lg:p-24" />
			</Col>
			<Col span="2" />
		</Row>
		<Row flex classes="text-center items-center justify-center">
			<Col span="2" />
			<Col span="8">
				<Spacer size="2" desktopSize="4" />
				<Button link="/"> 返回首页 <Icon name="long-arrow-right" /> </Button>
			</Col>
			<Col span="2" />
		</Row>
	</Section>
</Layout>
