---
// Testimonial Cards Section
// ------------
// Description: A section with multiple testimonial cards in a row layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import { Icon } from 'astro-icon/components'

// Content
// - Testimonials data
import testimonials from '../../../data/json-files/testimonialsData.json'
---

<Section padding="both" classes="bg-primary-200 dark:bg-neutral-900">
  <Row>
    <Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
      <h2 class="text-pretty">真实的<strong>客户反馈</strong></h2>
      <p class="pb-0 text-lg">
        听听我们的客户怎么说，他们的成功故事是我们最好的见证
      </p>
    </Col>
  </Row>
  <Row>
    {testimonials.map((testimonial) => (
      <Col span="4">
        <Card classes="h-full !bg-white/50 dark:!bg-neutral-700 transition-all duration-300 ease-out transform translate-y-0 scale-100 hover:shadow-lg hover:-translate-y-2 hover:scale-[1.02]">
          <CardBody>
            <div class="flex content-between flex-col h-full">
              <Icon
                name="quotes"
                class="text-primary-300 dark:text-primary-500 mb-4"
                size={40}
                width={40}
                height={40}
              />
              <p class="flex-grow mb-6 text-sm italic text-neutral-600 dark:text-neutral-300">{testimonial.quote}</p>
              <div class="border-t border-neutral-100 dark:border-neutral-800 pt-4 mt-auto">
                <div class="font-bold text-base text-neutral-800 dark:text-neutral-100">{testimonial.name}</div>
                <div class="text-xs text-primary-600">{testimonial.info}</div>
              </div>
            </div>
          </CardBody>
        </Card>
      </Col>
    ))}
  </Row>
</Section>