---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero.webp'

---

<Section id="intro" padding="top" classes="bg-primary-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<!-- <ChipNotification radius="rounded-full" classes="mb-6">
				<strong>三位资深留学顾问</strong> 全程陪伴
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification> -->
			<h1><strong class="font-black">予果予实</strong><br>用心陪伴学子的成长与梦想</h1>
			<p class="pb-0 text-lg">给予陪伴 给予成长 给予硕果累累</p>
			<Button size="lg" modal="contact">立即咨询</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroImage}
				alt="予果予实留学主视觉"
				class="translate-y-8"
				format="webp"
				quality="high"
				width={700}
				height={719}
			/>
		</Col>
		<Col span="2" />
	</Row>
</Section>
