---
// A Feed section
// ------------
// Description: A  section with feeds organised a a vertical list of items.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
// - UI
import Feed from '../../ui/Feed.astro'

// Props
type Props = {
	data: Array<{
		title: string
		stage?: string
		text?: string
		image?: string
		services?: Array<string>
	}>
	classes?: string
}
const { data, classes } = Astro.props
---

<Section id="services" stickyCol>
	<Row>
		<Col span="12">
			<Feed data={data} classes={classes} />
		</Col>
	</Row>
</Section>
